{% extends 'core/base.html'  %}
{% block title %} Detalle {% endblock %}
{% block background %}{% load static %}{% static 'core/img/Educación-Inclusiva.png' %}{% endblock %}
{% block header %}
<h1>Detalles</h1>
<span class="subheading">Software</span>
{% endblock header %}
{% block content %}
{% include 'portfolio/includes/project_menu.html'%}  
	      <!-- Proyecto -->
		  <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			
			      <img class="img-fluid" src="{{project.image.url}}" alt="">
				    <div  class="d-flex align-items-center top-0 start-0 position-absolute" Style="height: 50px; z-index: 5">
				  <span  style="margin: 5px"> {{project.likes.all.count}} likes</span>
				  
                    <form  method="POST" action="{% url 'portfolio:like' project.id   %}">
                        {% csrf_token %} 
						<input type="hidden" name="next" value="{{request.path}}">
					    <button  style="margin:5px"class="text-primary fas fa-thumbs-up" ></button>
			
                    </form>
					<span  style="margin: 5px"> {{project.dislikes.all.count}} dislikes </span>
	         
                    <form  method="POST" action="{% url 'portfolio:dislike' project.id  %}">
						{% csrf_token %}                        
						<input type="hidden" name="next" value="{{request.path}}">
					    <button type="submit" class='bx bxs-dislike btn-danger'></button>
                    </form>
				

			   		 </div>	

	      	</div>
	        <div class="col-lg-6 col-md-9">
				<h5><span class="label"></span>Categoria</h5>
				<p>{{project.categoria}}</p>
				<h5><span class="label"></span>Sub-Categoria</h5>
				{% for categ in project.subcategoria.all %}
					<span class="space" > {{categ.subcategoria}} </span>
				{% endfor %}
				
	      		<h3 class="label" style="text-align:center">{{project.title}}</h3>
				<p>{{project.description | linebreaks }}</p>
				 
	        	<video width="400px" height="400px" controls>
   				<source src='{{project.videos.url}}' type="video/mp4"/>
				</video>	
	         	<a class="btn btn-primary" target="_blank" href="{{ project.link}}">Accedar herramienta</a>
			  {% if request.user.is_staff %}
			  	<a class="btn btn-primary" href="{% url 'portfolio:update' project.id %}">Editar</a>
				<a  class="btn btn-primary"  style="margin: 10px" href="{% url 'portfolio:delete' project.id %}">Eliminar</a>
			  {% endif %}
	      	</div>
	    </div>
{% endblock %}
